@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --ff-title: 'Staatliches', cursive;
    --ff-content: 'Roboto', sans-serif;
    --bg-color-header: #8E9AAF;
    --bg-color-title: #CBC0D3;
    --fc-text-span: #4A4E69;
}

#page{
    display: flex;
    gap: 5rem;

    width: 1280px;
    height: 720px
}

#page header{
    background-color: var(--bg-color-header);
}

#page header{
    text-align: center;
}

#page header img{
    padding: 3.2rem 8.1rem;
}

#page header h1, p{
    color: #FFFFFF;
}

#page header h1{
    background-color: var(--bg-color-title);

    font-family: var(--ff-title);
    font-size: clamp(2rem, 2vw, 4rem);

    padding: 2.1rem 0;
}

#page header p{
    margin: 5.2rem 2rem;

    font-size: clamp(2rem, 2vw, 3rem);
    font-family: var(--ff-content);
}

main{
    margin: 10rem auto;
}

#card-wrapper{
    margin-top: 2rem;
    
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 
   "A B C"
   "D B F"
   "D E F"
   "footer footer footer";
   gap: 2rem;
}

#card-wrapper img{
    border-radius: 2rem;
}

#card-wrapper div:nth-child(1){
    grid-area: A;
}

#card-wrapper div:nth-child(2){
    grid-area: B;
}

#card-wrapper div:nth-child(3){
    grid-area: C;
}

#card-wrapper div:nth-child(4){
    grid-area: D;
}

#card-wrapper div:nth-child(5){
    grid-area: E;
}

#card-wrapper div:nth-child(6){
    grid-area: F;
}

footer{
    grid-area: footer;
    text-align: center;
}

footer p{
    color: var(--fc-text-span);
    font-family: var(--ff-content);
    font-size: 1.4rem;
}

footer span{
    font-weight: bold;
}

